/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  padding: 25px;
}
/* flip the pane when selecteded */
.flip-container.selected .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 200px;
  height: 200px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.Card {
    background: lightcoral;
    border-radius: 15px;
    /* display: flex;
    padding: 100px 15px; */
    /* margin-top: 30px; */
    font-size: 3em;
    justify-content: center;
    /* width: 200px; */
    cursor: pointer;
  }
  .selected .Card{
    background: lightslategray;
  }
  .found .Card{
    background: lightgreen;
  }